<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./loginstyles.css">
    <script src="https://fastly.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app" class="container" v-cloak>
    <div class="logo-section">
        <img src="path.webp" alt="Dialog Logo">
    </div>
    <div class="login-section">
        <form @submit.prevent="submitLoginForm">
            <h1>Welcome</h1>
            <div class="form-group">
                <label for="account">Account</label>
                <input type="text" v-model="account" id="account" name="account" pattern="[a-zA-Z0-9]{4,}" title="帐号必须包含至少4个字母或数字">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" v-model="password" id="password" name="password" pattern=".{8,}" title="密码长度必须至少为8个字符">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confrim Password</label>
                <input type="password" v-model="confirmPassword" id="confirmPassword" name="confirmPassword" pattern=".{8,}" title="密码长度必须至少为8个字符">
            </div>
            <button type="submit">Register</button>
            <a href="login.html">&nbsp;Already have an account? click here to login</a>
        </form>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            account: '',
            password: '',
            confirmPassword: '',
        },
        methods: {
            submitLoginForm() {
                if (this.password !== this.confirmPassword) {
                    alert('Passwords your entered are not the same');
                    return;
                }

                const requestData = {
                    userAccount: this.account,
                    userPassword: this.password,
                    checkPassword: this.confirmPassword,
                };
                axios.post("http://127.0.0.1:8080/api/user/register", requestData)
                    .then(response => {
                        const responseData = response.data;
                        if (responseData.code === 0) {
                            console.log("Registration Successful", response.data);
                            window.location.href = "login.html";
                        } else {
                            alert(responseData.message);
                        }
                    })
                    .catch(error => {
                        console.error("Registration Failed ", error);
                    });
            }
        }
    });
</script>
</body>
</html>
